* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --dbx: 0;
    --dby: 0;
}
body {
    padding: 1rem;

    background: #120e0a url("kepek/barlang.jfif") no-repeat;
    background-size: cover;
    background-clip: content-box;
    color: beige;
}
header {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
article {
    position: relative;

    height: 85vh;
    /*  display:grid;
    grid-template-columns: repeat(var(--dbx),100px);
    grid-template-rows: repeat(var(--dby),100px); */
}
footer {
    text-align: left;
    height: 5vh;
    padding: 0.5rem;
}

.tulajdonsaglap {
    display: flex;
}
.TulLap {
    background: rgb(245, 238, 220);
    /* width: 200px; */
    padding: 0.5rem;
    border-radius: 5px;
    opacity: 0.6;
    margin: 1rem;
    color: #120e0a;
    width: 150px;
    font-size: 25px;
}
.TulLap p {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.targy,
.etel {
    width: 50px;
    position: absolute;
}
.etel {
    width: 3fd0px;
}
.szikla {
    width: 50px;
}
.targy img,
.etel img {
    width: 100%;
}
.Harcos {
    width: 120px;
    height: 120px;
    position: absolute;
}
.Harcos img {
    width: 100%;
}

.rohan {
  
    position: relative;
    animation-name: mozgas;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.mammut {
    width:300px;

}
@keyframes mozgas {
    0% {
      left: calc(50% - 150px);
    }
    100% {
      left: -100%;
      z-index: -10;
    }
  }